.login-form {
    margin: 0 auto;
    border-radius: 8px;
    padding: 70px 50px;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 15%);
    margin-bottom: 174px;
}
.login-form img {
    width: 100%;
}
.form-group {
    margin-bottom: 15px;
}
.login-form-inner {
    margin-top: 35px;
}